<div class="well" ng-show="showloginForm" ng-controller="LoginController" ng-init="showloginForm=true" style="width: 25%; float:right;">
	<div ng-show="loading" ng-init="loading = false" style="width: 5%;">
		<img src="images/loading.gif">
	</div>
	<form name="loginForm" >
		<div class="form-group">
			<label for="name">Name</label> <input type="text"
				ng-model="user.userName" class="form-control"
				placeholder="Enter Name">
		</div>
		<div class="form-group">
			<label for="passord">Password</label> <input type="password"
				ng-model="user.password" class="form-control"
				placeholder="Enter password" />
		</div>
		<button ng-click="loginUser(user)" class="btn btn-primary" style="float:right">Sign
			in</button>
	</form>
<br>
<br>
	<div class="alert alert-danger alert-dismissible" ng-show="showloginError" role="alert" ng-init="showloginError=false">{{login_error}}</div>
</div>

<div style="width: 15%; float:right;" class="alert alert-info" ng-show="showlogoutmsg" ng-init="showlogoutmsg=false" role="alert">User logged out sucessfully.</div>


