	<div ng-controller="UserController">
		<div ng-show="loading" ng-init="loading = true">
			<img src="images/loading.gif">
		</div>

		
			<div class="user panel panel-default" ng-repeat="user in users | filter:searchFor">
		<div class="panel-heading">
			{{ user.userName }}
		</div>
		<div class="panel-body">
		{{ user.emailId }}</div>
	</div>

		<button ng-click="showAddUserForm = true">Add User</button>
		<div ng-show="showAddUserForm" ng-init="showAddUserForm=false">
			<form name="userForm">
				<tbody>
					<tr>
						<td>NAME:</td>
						<td><input type="text" ng-model="user.userName" /></td>
					</tr>
					<tr>
						<td>EMAIL ID:</td>
						<td><input type="email" ng-model="user.emailId" /></td>
					</tr>
					<tr>
						<td>PASSWORD:</td>
						<td><input type="password" ng-model="user.password" /></td>
					</tr>

				</tbody>
				<button ng-click="addUser(user)">Submit</button>
				<button value="Update" ng-show="showEditForm"
					ng-click="updateUser(user)">Update</button>
				<button ng-click="showAddUserForm = false">Cancel</button>
			</form>
		</div>
	</div>